// Colores
$color-primary: #00bfff;
$color-secondary: crimson;
$color-dark: #000000;
$color-light: #ffffff !default;

// Fuentes
$font-special: 'DinaRemaster', sans-serif;
$font-base: Arial, sans-serif;

// Tamaños
$header-height: 80px;
$spacing-large: 80px;
$spacing-medium: 40px;
$border-radius: 4px;
