// assets/scss/abstracts/_variables.scss

// Tipografías
$font-body: 'Open Sans', sans-serif; // Fuente para textos de párrafo
$font-heading: 'Montserrat', sans-serif; // Fuente para títulos y encabezados

// Colores
$color-primary: #0052cc;
$color-boton: #00cc99;
$color-neutral-light: #f5f5f5;
$color-neutral-dark: #1a1a1a;
$color-footer-bg: #c2185b;
$color-footer-texto: #ffffff;

// Espaciados
$espacio-pq: 8px;
$espacio-md: 16px;
$espacio-gr: 32px;

// Bordes
$border-radius: 8px;
