// 1. Layout
@use 'layout/grid';
@use 'layout/footer';

// 2. Components
@use 'components/navbar';
@use 'components/bienvenida';
@use 'components/buttons';
@use 'components/coyuntura';

// 3. Abstracts
@use 'abstracts/variables';
@use 'abstracts/mixins';

body {
  font-family: variables.$font-body;
  color: variables.$color-neutral-dark;
  padding-top: 70px;
}
