@use '../abstracts/variables';

.bienvenida {
  display: flex;
  justify-content: column;
  align-items: center;
  background-color: #000000;
  color: variables.$color-neutral-light;
  padding: 60px 10%;
  gap: variables.$espacio-md;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 10%;
    gap: variables.$espacio-gr;
  }
}

.bienvenida-texto {
  width: 100%;
  max-width: 100%;
  text-align: left;

  @media (min-width: 768px) {
    max-width: 50%;
    text-align: left;
  }
}

.titulo-principal {
  font-size: 48px;
  margin-bottom: 16px;
}

.eslogan {
  font-size: 20px;
  margin-bottom: 32px;

}

.bienvenida-button {
  display: inline-block;
  background-color: variables.$color-boton;
  color: variables.$color-neutral-light;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: variables.$border-radius;
  transition: transform 1s ease;

  &:hover {
    transform: scale(1.1);
  }
  
  @media (min-width: 480px) {
    padding: 12px 24px;
  }
}

.logo-principal {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  @media (min-width: 768px) {
    max-width: 400px;
    margin: 0;
  }
}