@use '../abstracts/variables';

.coyuntura .general {
  padding: variables.$espacio-md 0;
}

.coyuntura .contenedor-imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: variables.$espacio-md;
  padding: 100px;
}

.coyuntura .tarjeta-principal {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}

.coyuntura .tarjeta-principal .tarjeta-img {
  width: 100%;
  max-width: 410px;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: variables.$espacio-pq;
  border-radius: variables.$border-radius;
}

.coyuntura .tarjeta-principal .tarjeta-titulo {
  font-size: 24px;
  margin-bottom: 4px;
  max-width: 410px;
  font-family: variables.$font-heading;
  color: variables.$color-primary;
}

.coyuntura .tarjeta-principal .tarjeta-texto {
  font-size: 16px;
  max-width: 410px;
  font-family: variables.$font-body;
}

.coyuntura .tarjetas-secundarias {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: variables.$espacio-md;
}

.coyuntura .tarjeta-secundaria .tarjeta-img {
  width: 100%;
  max-width: 400px;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: variables.$espacio-pq;
  border-radius: variables.$border-radius;
}

.coyuntura .tarjeta-secundaria .tarjeta-titulo {
  font-size: 20px;
  margin-bottom: 4px;
  max-width: 400px;
  font-family: variables.$font-heading;
  color: variables.$color-primary;
}

.coyuntura .tarjeta-secundaria .tarjeta-texto {
  font-size: 14px;
  max-width: 400px;
  font-family: variables.$font-body;
}
