@use '../abstracts/variables';

.coyuntura {
  min-height: 100vh;
  width: 100%;
  font-family: variables.$font-body;
  padding: variables.$espacio-gr 0;

  .container {
    height: 100%;
  }

  .contenido-texto {
    max-width: 600px;
    margin: 0 auto;
    
    h2 {
      font-family: variables.$font-heading;
      color: variables.$color-neutral-dark;
      margin-bottom: variables.$espacio-gr;
    }
    
    @media (min-width: 768px) {
      padding: variables.$espacio-gr;
    }
  }

  .imagen-container {
    position: relative;
    overflow: hidden;
    border-radius: variables.$border-radius;
    

    .tarjeta-titulo {
      font-family: variables.$font-heading;
      color: variables.$color-primary;
      margin: variables.$espacio-md 0;
    }

    .tarjeta-texto {
      color: variables.$color-neutral-dark;
      margin-bottom: variables.$espacio-md;
    }
  }

  .object-fit-cover {
    object-fit: cover;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(1.05);
    }
  }
}