@use '../abstracts/variables';

.coyuntura {
  min-height: 100vh;
  width: 100%;
  font-family: variables.$font-body;
  padding: variables.$espacio-gr 0;

  .container {
    height: 100%;
  }

  .contenido-texto {
    max-width: 600px;
    margin: 0 auto;
    
    h2 {
      font-family: variables.$font-heading;
      color: variables.$color-neutral-dark;
      margin-bottom: variables.$espacio-gr;
    }
    
    @media (min-width: 768px) {
      padding: variables.$espacio-gr;
    }
  }
  .tarjeta {
    max-width: 100px;
    width: 100%;
    margin: 0 auto variables.$espacio-gr;

    .imagen-container {
      position: relative;
      overflow: hidden;

      img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      }
    }

    .tarjeta-contenido {
      padding-top: variables.$espacio-md;
      text-align: left;

      .tarjeta-titulo {
        font-family: variables.$font-heading;
        color: variables.$color-primary;
        margin: variables.$espacio-md 0;
      }

      .tarjeta-texto {
        color: variables.$color-neutral-dark;
        margin-bottom: variables.$espacio-md;
      }
    }
  }

    .object-fit-cover {
      object-fit: cover;
      transition: transform 0.6s ease;
      
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .card-img-top {
  max-height: 250px;
  object-fit: cover;
  width: 100%;
  }