.navbar {
  background-color: #ffffff !important;
  height: 80px;
  padding: 10px 20px;
  z-index: 1000;

  .navbar-collapse {
  background-color: #ffffff;
  padding: 20px;
  z-index: 1001;
  }
  
  .container-fluid {
    padding: 0;
  }

  .navbar-brand {
    padding: 0;
  }

  .logo-nav {
    width: 60px;
    height: auto;
  }
}